 {:profiles
  {:Default {:default true
            :sim     50
            :delay   500
            :alone   500
            :held    500
}}

:templates {
    :open "open \"%s\""
    :open-app "open -a \"%s\""
} 
 
 :simlayers   {
        :caps-mod {:key :caps_lock}
        :c-cmd {:key :c}
        :m-cmd {:key :m}
        :comma-ctrl {:key :comma}
        :x-ctrl {:key :x}
        :launcher {:key :semicolon}
        :backspace-mod {:key :delete_or_backspace}
 }

 :main [
        ;; misc modifications 
        {:des "left shift + space = command + space"
                :rules [[:!Sspacebar :!Cspacebar]]}
        { :des "rshift + backsp = opt + backsp" 
                :rules [[:!Rdelete_or_backspace :!Odelete_or_backspace]]}
        {:des "insert -> copy screenshot"
                :rules [[:insert :!STC4]]}
        {:des "slash = shift if held with another key"
                :rules [[:##slash :right_shift nil {:alone :slash}]]}
        {:des "shift + slash = qmark more reliably (simultaneous)" 
                :rules [[[:left_shift :slash] :!Rslash] [[:right_shift :slash] :!Rslash]]}
        {:des "switch colon and semicolon"
                :rules [[:semicolon :!Ssemicolon] [:!Ssemicolon :semicolon]]}

        
        {:des "rshift + caps = home layer"
                :rules [[:!Rcaps_lock [["tap-layer" 0 ]]]] }
        {:des "caps lock = escape if tapped alone, acts as modifier when held"
                :rules [[:caps_lock ["caps-mod" 1] nil {:alone [:escape ["tap-layer" 0] ["numpad" 0]] :afterup ["caps-mod" 0]}]]}
        {:des "rshift = home layer if alone" 
                :rules [[:##right_shift :right_shift nil {:alone ["tap-layer" 0 ]}]]}
       

        {:des "m-cmd mapping"
                :rules [:m-cmd
                        [:f :!Cf] [:w :!Cw] [:r :!Cr] [:s :!Cs] [:t :!Ct] [:tab :!Ctab]
                        [:grave_accent_and_tilde :!Cgrave_accent_and_tilde] [:d :!Cd] [:a :!Ca] [:z :!Cz] [:x :!Cx] [:c :!Cc] [:v :!Cv]]}

        {:des "c-cmd mapping"
                :rules [:c-cmd
                        [:k :!Cdown_arrow tap-layer]
                        [:k :!Ck !tap-layer]
                        [:l :!Cl] [:n :!Cn] [:p :!Cp]
                        [:comma :!Ccomma] [:period :!Cperiod] [:slash :!Cslash]]}
        {:des "x-ctrl mapping"
                :rules [:x-ctrl
                        [:u :!Wu] [:o :!Wo] [:p :!Wp] [:h :!Wh] [:j :!Wj] [:k :!Wk]
                        [:l :!Wl] [:n :!Wn] [:m :!Wm]
                        [:slash :!Cslash]]}
        {:des "comma-ctrl mapping"
                :rules [:comma-ctrl
                        [:a :!Wa] [:e :!We] [:r :!Wr] [:n :!Wn]
                        [:m :!Wm] [:spacebar [:comma :spacebar]] [:s :!Cs]]}

        {:des "caps-layer mapping"
                :rules [:caps-mod
                 [:k [{:key :up_arrow :repeat true}]] [:l [{:key :right_arrow :repeat true}]]
                 [:j [{:key :down_arrow :repeat true}]] [:h [{:key :left_arrow :repeat true}]]
                 ]}

        {:des "tap-layer mapping"
                :rules [:tap-layer
                 [:##k [{:key :up_arrow :repeat true}]] [:##l [{:key :right_arrow :repeat true}]]
                 [:##j [{:key :down_arrow :repeat true}]] [:##h [{:key :left_arrow :repeat true}]]
                [:##s :left_shift]
                [:##a :left_option]
                 ]}

        {:des "backspace layer mapping"
                :rules [:backspace-mod
                 [:u :!S9] [:i :!S0] [:j :open_bracket ] [:k :close_bracket][:m :!Sopen_bracket] [:comma :!Sclose_bracket]
                 [:o :!Shyphen] [:p [:spacebar :equal_sign :spacebar]] [:l :hyphen] [:semicolon :!Sequal_sign] [:slash :backslash]
                 [:n ["numpad" 1]]
                 ]}

        {:des "numpad"
                :rules [:numpad
                 [:j :1] [:k :2] [:l :3]]}

        {:des "launcher mode"
                :rules [:launcher
                [:t [:open-app "iterm"]]
                [:c [:open-app "google chrome"]]
                [:s [:open "users/dannylittle/Library/Mobile Documents/Bowdoin Classes"]]
                 ]
                 :simlayer-threshold 500}
                 
        {:des "left shift sets tap layer to 1 when alone"
        :rules [[:##left_shift :left_shift nil {:alone [["tap-layer" 1]]}]]}    
   ]} 

;; todo:
;; numpad
;; media keys
;;better get out of tap-layer